<div class="container">
  <div class="operations-container" id="operationsContainer">
    <div class="leftcontainer">
      <label for="" id="label">Operations-container</label>
    </div>
    <div class="rightcontainer">
      <div class="searchTerm">
        <label for="search" id="searchLabel">Search: </label>
        &nbsp;
        <div [formGroup]="myGroup">
          <input
            id="search"
            type="text"
            placeholder="Search"
            formControlName="searchTerm"
            (keyup)="applyFilter()"
          />
        </div>
      </div>

      <button class="add-button" (click)="openDialog()">Add User</button>
      <button class="nav-button" (click)="navigateTo('admin-dashboard')">
        Admin Dashboard
      </button>
    </div>
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Select Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <input
            type="checkbox"
            class="custom-checkbox"
            (change)="masterToggle()"
            [checked]="isAllSelected()"
            [indeterminate]="isSomeSelected()"
          />
        </th>
        <td mat-cell *matCellDef="let element">
          <input
            type="checkbox"
            class="custom-checkbox"
            (click)="$event.stopPropagation()"
            (change)="toggleSelection(element)"
            [checked]="selection.isSelected(element)"
          />
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef>Department</th>
        <td mat-cell *matCellDef="let element">{{ element.department }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="edit(element)">
            <mat-icon class="edit-icon">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="delete(element)">
            <mat-icon class="delete-icon">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      class="paginator"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20, 40]"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
