<body>
  <div class="main">
    <div class="container">
      <h1>Welcome to dashboard</h1>
      <nav>
        <p>Sign in to access your account</p>
        <form (ngSubmit)="login()">
          <label>Username:</label>
          <input
            type="text"
            name="username"
            [(ngModel)]="username"
            placeholder="Enter username"
            required
          />
          <br />
          <br />
          <label>Password:</label>
          <input
            type="password"
            name="password"
            [(ngModel)]="password"
            placeholder="Enter password"
            required
          />
          <br /><br />
          <button class="login-button" type="submit">Login</button>
        </form>
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
      </nav>
    </div>
  </div>
  <div class="bubble" style="left: 10%; animation-duration: 6s"></div>
  <div class="bubble" style="left: 20%; animation-duration: 8s"></div>
  <div class="bubble" style="left: 30%; animation-duration: 10s"></div>
  <div class="bubble" style="left: 40%; animation-duration: 12s"></div>
  <div class="bubble" style="left: 50%; animation-duration: 14s"></div>
  <div class="bubble" style="left: 60%; animation-duration: 16s"></div>
  <div class="bubble" style="left: 70%; animation-duration: 18s"></div>
  <div class="bubble" style="left: 80%; animation-duration: 20s"></div>
  <div class="bubble" style="left: 90%; animation-duration: 22s"></div>
</body>
