.mat-dialog-content {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 33rem;
  max-height: 102vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  color: black;
}

.header h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

.header button {
  color: #6b7280;
  transition: color 0.2s;
}

.header button:hover {
  color: #374151;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #374151;
}

.form-group input,
.form-group textarea,
.form-group select {
  margin-top: 0.25rem;
  display: block;
  width: 95%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  font-size: 0.875rem;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  outline: none;
  border-color: #6366f1;
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.3);
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.form-actions button {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.form-actions .cancel-button {
  border: 1px solid #d1d5db;
  color: #374151;
  background-color: #ffffff;
}

.form-actions .cancel-button:hover {
  background-color: #f9fafb;
}

.form-actions .submit-button {
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #000000;
}

.form-actions .submit-button:hover {
  background-color: #1f2937;
}
