/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(220, 220, 220);
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.light-mode {
  background-color: #add8e6;
  color: black;

  th.mat-column-actions,
  th.mat-column-createdDate,
  th.mat-column-status,
  th.mat-column-category,
  th.mat-column-description,
  th.mat-column-productName,
  th.mat-column-id,
  th.mat-column-select {
    background-color: rgb(194, 223, 253) !important;
    color: #000000 !important;
  }

  .container,
  .header-container,
  .table-container,
  .greet-message,
  .language-selector,
  #language-icon,
  #select-theme,
  #label,
  #searchLabel {
    background-color: #cbffff !important;
    color: #000000 !important;
  }
}
